<mat-progress-bar
  *ngIf="loading"
  mode="indeterminate"
  color="primary"
></mat-progress-bar>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="action-bar">
        <!-- Filter -->
        <div class="icon-filter">
          <button type="button" mat-icon-button matSuffix (click)="(onSearch)">
            <span class="material-symbols-rounded"> search </span>
          </button>
          <input
            type="text"
            class="input-filter"
            placeholder="Buscar"
            matTooltip="Ingresar un texto para buscar"
            (keyup)="applyFilter($event)"
            #input
          />
        </div>
        <!-- / Filter -->
        <div>
          <button
            type="button"
            mat-icon-button
            matSuffix
            matTooltip="Agregar {{ title }}"
            (click)="dialogAddOrEdit()"
            [disabled]="isDisabled"
          >
            <span class="material-symbols-rounded"> add_circle </span>
          </button>

          <button
            type="button"
            mat-icon-button
            matSuffix
            matTooltip="Filtrar columna"
            [disabled]="isDisabled"
          >
            <span class="material-symbols-rounded"> visibility </span>
          </button>

          <button
            type="button"
            mat-icon-button
            matSuffix
            matTooltip="Eliminar"
            [disabled]="isDisabled"
          >
            <span class="material-symbols-rounded"> delete </span>
          </button>

          <button
            type="button"
            mat-icon-button
            matSuffix
            matTooltip="Reportes"
            [disabled]="isDisabled"
          >
            <span class="material-symbols-rounded"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="table">
        <div style="padding: 1.5rem">
          <h3 class="font-weight-bold">{{ title }}</h3>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="item_category_id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">
              {{ element.item_category_id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Descripcion
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acción</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button
                type="button"
                mat-icon-button
                matSuffix
                matTooltip="Editar"
                (click)="dialogAddOrEdit(element.item_category_id)"
              >
                <span class="material-symbols-rounded"> edit </span>
              </button>

              <button
                type="button"
                mat-icon-button
                matSuffix
                matTooltip="Eliminar"
                (click)="deleteItem(element.item_category_id)"
              >
                <span class="material-symbols-rounded"> delete </span>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
