<div class="form-dialog">
  <div class="title-spinner">
    <h2 style="color: #4c5e70" mat-dialog-title>Información</h2>
  </div>
  <!-- form -->
  <form [formGroup]="form">
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-6">
          <!-- firstname -->
          <mat-form-field appearance="outline">
            <mat-label>Primer nombre</mat-label>
            <input
              type="text"
              matInput
              formControlName="firstname"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / firstname -->
        </div>
        <div class="col-md-6">
          <!-- second_name -->
          <mat-form-field appearance="outline">
            <mat-label>Segundo nombre</mat-label>
            <input
              type="text"
              matInput
              formControlName="second_name"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Segundo nombre -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Apellido paterno -->
          <mat-form-field appearance="outline">
            <mat-label>Apellido paterno</mat-label>
            <input
              type="text"
              matInput
              formControlName="lastname"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Apellido paterno -->
        </div>
        <div class="col-md-6">
          <!-- Apellido materno -->
          <mat-form-field appearance="outline">
            <mat-label>Apellido materno</mat-label>
            <input
              type="text"
              matInput
              formControlName="lastname_mother"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Apellido Materno -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Tipo documento -->
          <mat-form-field appearance="outline">
            <mat-label>Número documento</mat-label>
            <input
              type="text"
              matInput
              formControlName="type_document"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Tipo documento -->
        </div>
        <div class="col-md-6">
          <!-- Numero documento -->
          <mat-form-field appearance="outline">
            <mat-label>Número documento</mat-label>
            <input
              type="text"
              matInput
              formControlName="document"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Numero documento -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Fecha nacimiento -->
          <mat-form-field appearance="outline">
            <mat-label>Cumpleaños</mat-label>
            <input
              type="text"
              matInput
              formControlName="birthdate"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Fecha nacimiento -->
        </div>
        <div class="col-md-6">
          <!-- Telefono -->
          <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input
              type="text"
              matInput
              formControlName="phone"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Telefono -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Correo electronico-->
          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input
              type="text"
              matInput
              formControlName="email"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Correo electronico-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Ubigeo -->
          <mat-form-field appearance="outline">
            <mat-label>Ubigeo</mat-label>
            <input
              type="text"
              matInput
              formControlName="ubigeo"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Ubigeo -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Direccion -->
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input
              type="text"
              matInput
              formControlName="address"
              [readonly]="isReadOnly"
            />
          </mat-form-field>
          <!-- / Direccion -->
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button
        type="button"
        color="warn"
        mat-raised-button
        (click)="formClose()"
      >
        Cerrar
      </button>
    </mat-dialog-actions>
    <mat-progress-bar
      *ngIf="loading"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>
  </form>
</div>
