.form-title {
  font-size: 20px;
  font-weight: bold;
  color: #969696;
}

.column {
  display: flex;
  justify-content: space-between;
}

.form-field {
  margin-bottom: 16px;
}

.form-label {
  font-size: 12px;
  letter-spacing: normal;
  white-space: nowrap;
  display: block;
  cursor: inherit;
  line-height: normal;
  padding-bottom: 4px;
}

.form-input {
  display: block;
  letter-spacing: inherit;
  border: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: inherit;
  padding: 0;
}

.form-input:focus {
  outline: none;
}

.tag-width-full {
  width: 100%;
}