mat-card-title {
  color: #969696;
}

mat-card-content {
  display: flex;
}

.main {
  padding: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-action {
  margin-left: 10px;
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
  margin-right: 10px;
}
