.content-wrapper {
  background: #f5f7ff;
  padding: 2.375rem 2.375rem;
  flex-grow: 1;
}

.grid-margin {
  margin-bottom: 2.5rem;
}

.font-weight-bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-shadow: none;
  color: #969696;
}

.button-action {
  margin-left: 0.5rem;
  padding-top: 0.25rem;
}

.table {
  padding: 10px 20px;
  background: #fff;
  border-radius: 20px;
}