.content-wrapper {
  background: #f5f7ff;
  padding: 2.375rem 2.375rem;
  flex-grow: 1;
}

.grid-margin {
  margin-bottom: 2.5rem;
}

.font-weight-bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-shadow: none;
}

.font-weight-normal {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1.5;
  line-height: 1;
}

mat-card {
  box-shadow: none;
}

.card_content {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: normal;
  line-height: 1;
  color: lightgray;
}

.card_number {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
}

.home-link {
  color: #007bff;
  text-decoration: none;

  .material-symbols-rounded {
    color: #000;
  }
}