<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">¡Bienvenidos!</h3>
          <p class="font-weight-normal">Sistema Cliente Frecuente.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4">
      <mat-card>
        <div class="card_content">
          <h3 class="card_title">Clientes <br />registrados</h3>
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
          <p class="card_number">{{ listCustomers }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <mat-card>
        <div class="card_content">
          <h3 class="card_title">Clientes con <br />puntos</h3>
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
          <p class="card_number">{{ listPointsCustomers }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <a routerLink="/dashboard/points" class="home-link">
        <mat-card>
          <div class="card_content">
            <h3 class="card_title">Canjear <br />puntos</h3>
            <p class="card_number">
              <span class="material-symbols-rounded" style="font-size: 50px">
                person_celebrate
              </span>
            </p>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <a routerLink="/dashboard/items" class="home-link">
        <mat-card>
          <div class="card_content">
            <h3 class="card_title">Ver <br />premios</h3>
            <p class="card_number">
              <span class="material-symbols-rounded" style="font-size: 50px">
                shopping_cart
              </span>
            </p>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
