.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-icon {
  margin-right: 6px;
}

mat-sidenav {
  width: 200px;
  text-align: center;
}

.menu-button {
  width: 100%;
  height: 55px;
}