<mat-toolbar color="primary" class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
    class="menu-icon"
    matTooltip="Menú principal"
  >
    <span class="material-symbols-rounded" *ngIf="!sidenav.opened"> menu </span>
    <span class="material-symbols-rounded" *ngIf="sidenav.opened"> close </span>
  </button>
  <span *ngIf="sidenav.opened">PERUMONEY</span>
  <span *ngIf="!sidenav.opened">PM</span>

  <span class="example-spacer"></span>
  <button
    mat-raised-button
    color="accent"
    (click)="onLogout()"
    matTooltip="Salir del sistema"
    style="letter-spacing: 0px"
  >
    Cerrar sesión
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side">
    <!-- dashboard -->
    <button mat-button [routerLink]="['/dashboard']" class="sidenav_button">
      <div class="sidenav_button-text">
        <span class="material-symbols-rounded sidenav_button-icon">
          dashboard
        </span>
        Dashboard
      </div>
    </button>
    <!-- /dashboard -->
    <!-- categories -->
    <button
      mat-button
      [routerLink]="['/dashboard/categories']"
      class="sidenav_button"
    >
      <div class="sidenav_button-text">
        <span class="material-symbols-rounded sidenav_button-icon">
          category
        </span>
        Categorias
      </div>
    </button>
    <!-- /categories -->
    <!-- gif -->
    <button
      mat-button
      [routerLink]="['/dashboard/items']"
      class="sidenav_button"
    >
      <div class="sidenav_button-text">
        <span class="material-symbols-rounded sidenav_button-icon"
          >featured_seasonal_and_gifts
        </span>
        Premios
      </div>
    </button>
    <!-- /gif -->
    <!-- customers -->
    <button
      mat-button
      [routerLink]="['/dashboard/customers']"
      class="sidenav_button"
    >
      <div class="sidenav_button-text">
        <span class="material-symbols-rounded sidenav_button-icon"
          >account_circle</span
        >
        Clientes
      </div>
    </button>
    <!-- /customers -->
    <!-- points -->
    <button
      mat-button
      [routerLink]="['/dashboard/points']"
      class="sidenav_button"
    >
      <div class="sidenav_button-text">
        <span class="material-symbols-rounded sidenav_button-icon">
          person_celebrate
        </span>
        Puntos
      </div>
    </button>
    <!-- /points -->
    <!-- reports -->
    <button
      mat-button
      [routerLink]="['/dashboard/reports']"
      class="sidenav_button"
    >
      <div class="sidenav_button-text">
        <span class="material-symbols-rounded sidenav_button-icon">
          fact_check
        </span>
        Reportes
      </div>
    </button>
    <!-- /reports -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-panel">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
