.example-spacer {
  flex: 1 1 auto;
}

.main-panel {
  min-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  margin-left: 0;
  width: 100%;
}

.menu-icon {
  margin-right: 6px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: #f5f7ff;
}

mat-sidenav {
  width: 235px;
  border: 0;
  padding-top: 35px;
}

.sidenav_button {
  width: 100%;
  height: 55px;
  font-weight: normal;
  letter-spacing: normal;
}

.sidenav_button-text {
  display: flex;
  align-items: center;
  width: 120px;
}

.sidenav_button-icon {
  margin-right: 10px;
  text-align: left;
}