<mat-progress-bar
  *ngIf="loading"
  mode="indeterminate"
  color="primary"
></mat-progress-bar>
<div class="content-wrapper">
  <div class="row">
    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
      <h3 class="font-weight-bold">Tabla {{ title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- Filter -->
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          (keyup)="applyFilter($event)"
          #input
          matTooltip="Buscar por nombre"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="(onSearch)"
          color="primary"
        >
          <span class="material-symbols-rounded"> search </span>
        </button>
      </mat-form-field>
      <!-- / Filter -->
    </div>
    <div class="col-6 d-flex justify-content-end">
      <mat-card-content>
        <div>
          <button
            mat-mini-fab
            color="accent"
            class="button-action"
            matTooltip="Agregar {{ title }}"
          >
            <span class="material-symbols-rounded"> add_circle </span>
          </button>
          <button
            mat-mini-fab
            color="accent"
            class="button-action"
            matTooltip="Filtrar Columna"
          >
            <span class="material-symbols-rounded"> visibility </span>
          </button>
          <button
            mat-mini-fab
            color="warn"
            class="button-action"
            matTooltip="Eliminar {{ title }}"
          >
            <span class="material-symbols-rounded"> delete </span>
          </button>
          <button
            mat-mini-fab
            color="accent"
            class="button-action"
            matTooltip="Reportes"
          >
            <span class="material-symbols-rounded"> more_vert </span>
          </button>
        </div>
      </mat-card-content>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="table">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Nombre completo
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.firstname }} {{ element.second_name }}
              {{ element.lastname }} {{ element.lastname_mother }}
            </td>
          </ng-container>

          <ng-container matColumnDef="document">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Número documento
            </th>
            <td mat-cell *matCellDef="let element">{{ element.document }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Correo electrónico
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Teléfono</th>
            <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acción</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <a
                class="pointer"
                matTooltip="Editar {{ title }}"
                style="cursor: pointer; margin-right: 10px"
              >
                <span class="material-symbols-rounded" style="color: #000">
                  edit
                </span>
              </a>

              <a
                class="pointer"
                matTooltip="Eliminar {{ title }}"
                style="cursor: pointer; margin-left: 10px"
              >
                <span class="material-symbols-rounded" style="color: #000">
                  delete
                </span>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
