<div class="main">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tabla {{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Filter -->
      <mat-form-field appearance="fill">
        <mat-label>Buscar aquí...</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event)" #input />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="(onSearch)"
          color="primary"
        >
          <span class="material-symbols-outlined"> search </span>
        </button>
      </mat-form-field>
      <!-- / Filter -->
      <div class="example-spacer"></div>
      <div>
        <button
          mat-mini-fab
          color="primary"
          class="button-action"
          matTooltip="Agregar {{ title }}"
        >
          <span class="material-symbols-outlined"> add </span>
        </button>
        <button
          mat-mini-fab
          color="primary"
          class="button-action"
          matTooltip="Filtrar Columna"
        >
          <span class="material-symbols-outlined"> visibility </span>
        </button>
        <button
          mat-mini-fab
          color="primary"
          class="button-action"
          matTooltip="Eliminar {{ title }}"
        >
          <span class="material-symbols-outlined"> delete </span>
        </button>
        <button
          mat-mini-fab
          color="primary"
          class="button-action"
          matTooltip="Reportes"
        >
          <span class="material-symbols-outlined"> more_vert </span>
        </button>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Nombre completo
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.firstname }} {{ element.second_name }}
              {{ element.lastname }} {{ element.lastname_mother }}
            </td>
          </ng-container>

          <ng-container matColumnDef="type_document_id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Tipo documento
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.type_document_id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="document">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Número documento
            </th>
            <td mat-cell *matCellDef="let element">{{ element.document }}</td>
          </ng-container>

          <ng-container matColumnDef="points">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Puntos</th>
            <td mat-cell *matCellDef="let element">
              {{ element.total_points }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acción</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <a
                class="pointer"
                matTooltip="Ver {{ title }}"
                style="cursor: pointer; margin-right: 10px"
                [routerLink]="['/dashboard/points/document/', element.document]"
              >
                <span class="material-symbols-outlined"> eye_tracking </span>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
