.content-wrapper {
  background: #f5f7ff;
  padding: 2rem 1.2rem;
  flex-grow: 1;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #4C5E70;
}

mat-card-content {
  padding: 0 0;
  background: #f5f5f5;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.info {
  // background: linear-gradient(#673ab7, #ffd740);
  background: #fff;
  border-radius: 20px;
}

.info-point {
  padding: 16px 10px;
}

.title-name {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 5px;
    font-size: 30px;
    color: #4C5E70;
    font-weight: bold;
    line-height: normal;
    margin: 0;
  }
}

.material-symbols-rounded {
  color: #4C5E70;
}

.point {
  padding: 16px 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.point-detail {
  width: 300px;
  margin: auto;
  text-align: center;
}

.point-header {
  margin-top: 20px;
  // display: flex;
  justify-content: center;
}

.point-icons {
  font-size: 30px;
}

.point-number {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.form {
  background: lightblue;
  width: 600px;
  margin: auto;
}

.table {
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 20px;
}

.action-bar {
  padding: 10px 20px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

th {
  text-transform: uppercase;
  font-size: .75rem;
  color: #4C5E70;
}

td {
  color: #4C5E70;
}