<mat-progress-bar
  *ngIf="loading"
  mode="indeterminate"
  color="primary"
></mat-progress-bar>

<!-- Tabla de informacion de puntos -->

<!-- <div class="mi-menu">
  <button
    mat-raised-button
    color="primary"
    (click)="dialogProfile(this.form.value.document)"
    matTooltip="Ver información del cliente"
  >
    <span class="material-symbols-rounded"> person_pin </span>
    Perfil
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="openDialog()"
    matTooltip="Canjear producto(s)"
  >
    <span class="material-symbols-rounded">
      featured_seasonal_and_gifts
    </span>
    Canjear
  </button>
</div> -->
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="info">
        <div class="info-point">
          <div class="title-name">
            <span class="material-symbols-rounded"> account_circle </span>
            <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
            <h1>
              {{ pointsCustomer().firstname }} {{ pointsCustomer().lastname }}
            </h1>
          </div>
          <div class="point">
            <div class="point-detail">
              <div class="point-header">
                <span class="material-symbols-rounded point-icons">
                  social_leaderboard
                </span>
                <p class="point-title">Puntos disponibles</p>
              </div>
              <p class="point-number">
                <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
                {{ pointsCustomer().total_points | number }}
              </p>
            </div>
            <div class="point-detail">
              <div class="point-header">
                <span class="material-symbols-rounded point-icons">
                  workspace_premium
                </span>
                <p class="point-title">Puntos de hoy</p>
              </div>
              <p class="point-number">{{ 0 | number }}</p>
            </div>
            <div class="point-detail">
              <div class="point-header">
                <span class="material-symbols-rounded point-icon">
                  featured_seasonal_and_gifts
                </span>
                <p class="point-title">Puntos canjeados</p>
              </div>
              <p class="point-number">{{ 0 | number }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="action-bar">
        <div>
          <button
            type="button"
            mat-icon-button
            matSuffix
            [disabled]="isDisabled"
            (click)="dialogProfile(this.form.value.document)"
            matTooltip="Ver información del cliente"
          >
            <span class="material-symbols-rounded"> person_pin </span>
          </button>

          <button
            type="button"
            mat-icon-button
            matSuffix
            [disabled]="isDisabled"
            (click)="openDialog()"
            matTooltip="Canjear producto(s)"
          >
            <span class="material-symbols-rounded">
              featured_seasonal_and_gifts
            </span>
          </button>

          <button
            type="button"
            mat-icon-button
            matSuffix
            matTooltip="Reportes"
            [disabled]="isDisabled"
          >
            <span class="material-symbols-rounded"> more_vert </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="table">
        <div style="padding: 1.5rem">
          <h3 class="font-weight-bold">{{ title }}</h3>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="document">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Num. Documento
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.document }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acumulado">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Acumulado</th>
            <td mat-cell *matCellDef="let element">
              {{ element.points > 0 ? element.points : "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="canjeado">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Canjeado</th>
            <td mat-cell *matCellDef="let element">
              {{ element.points < 0 ? element.points : "" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
