<div class="container" style="display: flex;">
  <h2 mat-dialog-title>{{ operation }}</h2>
  <mat-spinner *ngIf="loading" [diameter]="30" style="top: 18px;"></mat-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="formAddOrEdit()">
  <mat-dialog-content>
    <div class="row">
      <div class="colum">
        <!-- categoria -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre Categoria</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error *ngIf="form.get('name')?.hasError('required')"
            >Este campo es requerido.</mat-error
          >
        </mat-form-field>
        <!-- / categoria -->
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" color="accent" mat-raised-button (click)="formCancelar()" [disabled]="loading">Cancelar</button>
    <button type="submit" color="primary" mat-raised-button [disabled]="loading">Guardar</button>
  </mat-dialog-actions>
</form>
